<div class="country-name">
  <h1 class="country-name__caption">{{name}}</h1>
  <div class="country-name__wrapper">

    <div class="country-name__discription">

      <ul class="country-name__list">
        <li class="country-name__item"><span
            class="country-name__title"
          >Capital: </span>
          {{capital}}</li>
        <li class="country-name__item"><span
            class="country-name__title"
          >Population:
          </span>{{population}}</li>
        <li class="country-name__item"><span
            class="country-name__title"
          >Languages: </span>
          <ul class="country-name__under-list">
            {{#each languages}}
              <li class="country-name__under-item">{{name}}</li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </div>
    <div class="country-name__flag">
      <img class="country-name__image" src={{flag}} alt={{name}} />
    </div>
  </div>
</div>