{{#each this}}
  <div class="country-name">
    <h1 class="country-name__caption">{{name}}</h1>
    <div class="country-name__discription">

      <ul class="country-name__list">
        <li class="country-name__item"><span>Capital: </span> {{capital}}</li>
        <li class="country-name__item"><span>Population:
          </span>{{population}}</li>
        <li class="country-name__item"><span>Languages: </span>
          <ul>
            {{#each languages}}
              <li>{{name}}</li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </div>
    <div class="country-name__flag">
      <img class="country-name__image" src={{flag}} alt={{name}} />
    </div>
  </div>
{{/each}}